In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-07-14 14:04:12,19.7297,-155.0900,73.62,94,100,4.00
1,1,Mayor Pablo Lagerenza,PY,2022-07-14 14:04:12,-19.9309,-60.7718,84.67,44,100,19.28
2,2,Tasiilaq,GL,2022-07-14 14:03:54,65.6145,-37.6368,46.56,69,18,5.97
3,3,Arraial Do Cabo,BR,2022-07-14 14:04:12,-22.9661,-42.0278,75.06,83,40,11.50
4,4,Albany,US,2022-07-14 14:03:32,42.6001,-73.9662,73.29,74,10,6.20

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
# Don't want any negative  numbers. So the for loop compares the max temp and 0.
# Whichever is bigger is placed.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mayor Pablo Lagerenza,PY,2022-07-14 14:04:12,-19.9309,-60.7718,84.67,44,100,19.28
8,8,Lasa,IT,2022-07-14 14:04:13,46.6166,10.7002,83.70,46,93,3.24
12,12,Butaritari,KI,2022-07-14 14:04:14,3.0707,172.7902,81.61,82,41,16.60
16,16,Cockburn Town,TC,2022-07-14 14:04:15,21.4612,-71.1419,81.05,78,100,16.24
20,20,Ughelli,NG,2022-07-14 14:04:17,5.4899,6.0074,81.07,77,78,8.19
25,25,Guanica,PR,2022-07-14 14:04:18,17.9716,-66.9080,88.97,67,83,8.12
29,29,Santo Domingo,DO,2022-07-14 13:59:42,18.5001,-69.9886,84.04,75,40,5.75
34,34,Hithadhoo,MV,2022-07-14 14:04:20,-0.6000,73.0833,83.70,73,100,14.50
35,35,Bhopal,IN,2022-07-14 14:01:35,23.2667,77.4000,80.83,78,75,8.05
36,36,Ixtapa,MX,2022-07-14 14:00:16,20.7000,-105.2000,83.23,81,48,1.01

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna(0,'any') 
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mayor Pablo Lagerenza,PY,2022-07-14 14:04:12,-19.9309,-60.7718,84.67,44,100,19.28
8,8,Lasa,IT,2022-07-14 14:04:13,46.6166,10.7002,83.70,46,93,3.24
12,12,Butaritari,KI,2022-07-14 14:04:14,3.0707,172.7902,81.61,82,41,16.60
16,16,Cockburn Town,TC,2022-07-14 14:04:15,21.4612,-71.1419,81.05,78,100,16.24
20,20,Ughelli,NG,2022-07-14 14:04:17,5.4899,6.0074,81.07,77,78,8.19
25,25,Guanica,PR,2022-07-14 14:04:18,17.9716,-66.9080,88.97,67,83,8.12
29,29,Santo Domingo,DO,2022-07-14 13:59:42,18.5001,-69.9886,84.04,75,40,5.75
34,34,Hithadhoo,MV,2022-07-14 14:04:20,-0.6000,73.0833,83.70,73,100,14.50
35,35,Bhopal,IN,2022-07-14 14:01:35,23.2667,77.4000,80.83,78,75,8.05
36,36,Ixtapa,MX,2022-07-14 14:00:16,20.7000,-105.2000,83.23,81,48,1.01

In [35]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Cloudiness    137
Wind Speed    137
dtype: int64

In [36]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1   Mayor Pablo Lagerenza      PY     84.67 -19.9309  -60.7718
8                    Lasa      IT     83.70  46.6166   10.7002
12             Butaritari      KI     81.61   3.0707  172.7902
16          Cockburn Town      TC     81.05  21.4612  -71.1419
20                Ughelli      NG     81.07   5.4899    6.0074
25                Guanica      PR     88.97  17.9716  -66.9080
29          Santo Domingo      DO     84.04  18.5001  -69.9886
34              Hithadhoo      MV     83.70  -0.6000   73.0833
35                 Bhopal      IN     80.83  23.2667   77.4000
36                 Ixtapa      MX     83.23  20.7000 -105.2000

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mayor Pablo Lagerenza,PY,84.67,-19.9309,-60.7718,
8,Lasa,IT,83.70,46.6166,10.7002,Pension Feldgärtenhof
12,Butaritari,KI,81.61,3.0707,172.7902,Isles Sunset Lodge
16,Cockburn Town,TC,81.05,21.4612,-71.1419,Osprey Beach Hotel
20,Ughelli,NG,81.07,5.4899,6.0074,Prestige Hotel
25,Guanica,PR,88.97,17.9716,-66.9080,Copamarina Beach Resort & Spa
29,Santo Domingo,DO,84.04,18.5001,-69.9886,Cabañas City Heart
34,Hithadhoo,MV,83.70,-0.6000,73.0833,Scoop Guest House
35,Bhopal,IN,80.83,23.2667,77.4000,SPOT ON 63658 Shukla Lodge
36,Ixtapa,MX,83.23,20.7000,-105.2000,hotel la terminal

In [46]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))